.nav-bar {
    width: 250px; /* Adjust the width as needed */
    background-color: #333; /* Background color for the sidebar */
    color: #fff; /* Text color for the sidebar */
    padding: 20px;
}

.content-body {
    flex: 1; /* Allow the content to take up remaining space */
    padding: 5rem;
}

/* Example styles for the "Generate Receipt" button */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}